PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/mateus-pozzebon
JWT_SECRET=troque-por-um-segredo-grande
ADMIN_EMAIL=admin@site.com
ADMIN_PASSWORD=troque-esta-senha

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
